In [1]:
import pandas as pd
import sqlite3
import os

In [2]:
#parameters
date = ''
period = ''
airflow_home = os.environ['AIRFLOW_HOME']

In [3]:
conn = sqlite3.connect(f'{airflow_home}/db/sqlite.db')

In [ ]:
if period == 'daily':
    query = f'SELECT * FROM orders WHERE OrderDate = "{date}"'
elif period == 'weekly':
    query = f'SELECT * FROM orders WHERE OrderDate >= DATE("{date}", "-7 day") AND OrderDate <= "{date}"'
elif period == 'monthly':
    query = f'SELECT * FROM orders WHERE OrderDate >= DATE("{date}", "-30 day") AND OrderDate <= "{date}"'

In [42]:
pd.read_sql(query, conn).to_csv(f'{airflow_home}/data/{period}/output_{date}.csv')

,index,Interval,Date,OrderDate,ClientID,ChannelID,OrderID,MaterialID,GroupID,Cluster,CancelFlag,OrderCnt,DeliveryType,prepay,count_edit
0,3390,12-14.,2018-04-16,2018-04-15,1317148,2,97255149140,3186418.0,33.0,None,0,1.0,Обычная доставка,0,1
1,3391,12-14.,2018-04-16,2018-04-15,1317148,2,97255149140,3316281.0,29.0,None,0,2.0,Обычная доставка,0,1
2,3392,12-14.,2018-04-16,2018-04-15,1317148,2,97255149140,3324456.0,16.0,None,0,5.0,Обычная доставка,0,1
3,3393,12-14.,2018-04-16,2018-04-15,1317148,2,97255149140,3226250.0,16.0,None,0,3.0,Обычная доставка,0,1
4,3394,12-14.,2018-04-16,2018-04-15,1317148,2,97255149140,3049009.0,35.0,None,0,3.0,Обычная доставка,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20612,2928865,12-14.,2018-04-17,2018-04-15,91176784,2,98355151062,3315624.0,36.0,None,0,2.0,Обычная доставка,0,1
20613,2928866,12-14.,2018-04-17,2018-04-15,91176784,2,98355151062,3132341.0,35.0,None,0,1.0,Обычная доставка,0,1
20614,2928867,12-14.,2018-04-17,2018-04-15,91176784,2,98355151062,3263211.0,35.0,None,0,1.0,Обычная доставка,0,1
20615,2928868,12-14.,2018-04-17,2018-04-15,91176784,2,98355151062,3327288.0,61.0,None,0,3.0,Обычная доставка,0,1
20616,2928869,12-14.,2018-04-17,2018-04-15,91176784,2,98355151062,3263218.0,35.0,None,0,1.0,Обычная доставка,0,1